/template/template.aux
/template/template.fdb_latexmk
/template/template.fls
/template/template.log
/template/template.out
/template/template.pdf
/template/template.synctex.gz
/.idea/modules.xml
/.idea/invoice-generator.iml
